@media screen and (max-width:767px){
    nav{
        background-color: black;
        text-transform: capitalize;
        min-height: 10vh;
        color: antiquewhite;
        position: fixed;
        right: 0;
        left: 0;
        opacity: 0.5;
    }

    ul{
        display: flex;
        flex-direction: column;
        font-size: 2em;
        align-items: center;
       justify-content: space-evenly;
       list-style: none;
    }
    
    li{
        border: bottom 11px;
        padding: 10px 0;
        margin:auto
    }

    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(11, 300px);
        grid-template-areas: "k"
                             "j"
                             "i"
                             "h"
                             "g"
                             "f"
                             "e" 
                             "d" 
                             "c" 
                             "b" 
                             "a";                   
        gap: 30px;
        position: relative;
        top: 300px;
        z-index: -1;
    }
    article{
        background: green;
        border: 15px solid crimson;
    }

    .small{
        display: block;
    }
    .big{
        display: none;
    }
    article:nth-of-type(1){
        grid-area: a;
        /* background-image:url(./images/spiderman.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:; */
    }
    article:nth-of-type(2){
        grid-area: b;
    }
    article:nth-of-type(3){
        grid-area: c;
    }
    article:nth-of-type(4){
        grid-area: d;
    }
    article:nth-of-type(5){
        grid-area: e;
    }
    article:nth-of-type(6){
        grid-area: f;
    }
    article:nth-of-type(7){
        grid-area: g;
    }
    article:nth-of-type(8){
        grid-area: h;
    }
    article:nth-of-type(9){
        grid-area: i;
    }
    article:nth-of-type(10){
        grid-area: j;
    }
    article:nth-of-type(11){
        grid-area: k;
    }
     
}

@media screen and (min-width:768px){
    
    nav{
        background-color: black;
        text-transform: capitalize;
        min-height: 20vh;
        color: antiquewhite;
        margin-bottom: auto;
        position: fixed;
        right: 0;
        left: 0;
        opacity: 0.5;
    }

    ul{
        display: flex;
        flex-direction: row;
        font-size: 2em;
        align-items: center;
       justify-content: space-evenly;
       list-style: none;
    }
    
    li{
        border: bottom 11px;
        padding: 90px 0;
        margin:auto
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 300px);
        grid-template-areas: "k k k"
                             "k k k"
                             "j j i" 
                             "h h g" 
                             "f e d" 
                             "c c b" 
                             "a a a";                   
        gap: 30px;
        position: relative;
        top: 300px;
        z-index: -1;
    }
    article{
        background: darkgoldenrod;
        border: 15px solid crimson;
    }

    .small{
        display: none;
    }
    .big{
        display: bl;
    }
    article:nth-of-type(1){
        grid-area: a;
        background-image:url(./images/spiderman.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    article:nth-of-type(2){
        grid-area: b;
    }
    article:nth-of-type(3){
        grid-area: c;
    }
    article:nth-of-type(4){
        grid-area: d;
    }
    article:nth-of-type(5){
        grid-area: e;
    }
    article:nth-of-type(6){
        grid-area: f;
    }
    article:nth-of-type(7){
        grid-area: g;
    }
    article:nth-of-type(8){
        grid-area: h;
    }
    article:nth-of-type(9){
        grid-area: i;
    }
    article:nth-of-type(10){
        grid-area: j;
    }
    article:nth-of-type(11){
        grid-area: k;
    }     
}

@media screen and (min-width:1080px){
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas: "k k j i" 
                             "k k g h" 
                             "f e e d" 
                             "c c c b" 
                             "a a a b";                   
        gap: 30px;
    }
    article{
        background: cornflowerblue;
        border: 15px solid crimson;
    }
    article:nth-of-type(1){
        grid-area: a;
        /* background-image:url(./images/spiderman.jpg);
        background-size: cover;
        background-repeat: no-repeat; */
    }
    article:nth-of-type(2){
        grid-area: b;
    }
    article:nth-of-type(3){
        grid-area: c;
    }
    article:nth-of-type(4){
        grid-area: d;
    }
    article:nth-of-type(5){
        grid-area: e;
    }
    article:nth-of-type(6){
        grid-area: f;
    }
    article:nth-of-type(7){
        grid-area: g;
    }
    article:nth-of-type(8){
        grid-area: h;
    }
    article:nth-of-type(9){
        grid-area: i;
    }
    article:nth-of-type(10){
        grid-area: j;
    }
    article:nth-of-type(11){
        grid-area: k;
    }   
}
