main{
    margin: 3em auto;
    width: 700px;
    height: 450px;
    border: 5px solid red;
    background-image: 
    url(./images/yello_star-removebg-preview.png),
    url(./images/yello_star-removebg-preview.png),
    url(./images/yello_star-removebg-preview.png),
    url(./images/yello_star-removebg-preview.png),
    url(./images/yello_star-removebg-preview.png),
    linear-gradient(30deg,red, red);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-size: 150px, 30px, 30px, 30px, 30px, 500px;
    background-position: 0px 10px, 120px 5px, 140px 45px, 150px 90px, 120px 130px;
}